<h1><%= @book.title %></h1>
<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>URL</th>
  </tr>
  <tr>
    <td> <%= @book.title %></td>
    <td> <%= @book.description %></td>
    <td> <%= @book.URL %></td>
  </tr>
</table>

<h2>Reviews: </h2>
