<h1>New Review:</h1>

<%= form_for [@book, @review] do |f| %>

  <%= f.label :description %>
  <%= f.text_area :description %>

  <%= f.submit "Create Review", class: "button tiny success" %>

<% end -%>
